.centreText {
    text-align: center;
    display: flex;
 
}

h1 {
    font-size: 150px;
}

html{
    font-size: 16px;
}

.centreElement{
    margin-left: auto;
    margin-right: auto;
}

.centre80{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.selectInput{
    margin-top: 16px;
}

.modal-dialog {
    margin: 20vh auto 0px auto
}